body {
	background-color: white;
	font-family: "GillSans-Light",Verdana, Helvetica, Arial;
	font-size: 12px;
}
#header{
	height: 80px;
	margin: 10px;
	font-family: "GillSans-Light",Verdana;
	font-size: 30px;
	font-color: #3165CA;
}
h1{
	color: #B2124B;
	font-weight: normal;
}

#wrap {
	width: 30%;
}
#nav{
	list-style-type: none;
}
#nav li{
	display: inline;
}
#nav a{
	text-decoration: none;
	font-size: 12px;
	color: #018FB2;
}
#nav a:hover{
	color: #B2124B;
}
.block{
	width: auto;
}

a img {
	border: none;
}

#container a{
	color: #B2124B;
	text-transform: uppercase;
}
#container a:hover{
	color: #018FB2;
	text-transform: uppercase;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#container {
	width: 900px;
	margin: 0 auto;
	background-color: #D6FFFB;
	padding: 20px 40px;
	margin-top: 20px;
	float: left;
}

#flash_notice, #flash_error, #flash_alert {
	padding: 5px 8px;
	margin: 10px 0;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error, #flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}

.error_messages {
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	font-size: 12px;
}

.error_messages h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

.error_messages p {
	margin: 8px 10px;
}

.error_messages ul {
	margin: 0;
}

#footer {
	clear: left;
	margin-top: 50px;
	padding:10px 15px 5px 15px;
	font-size: 73%;
}

#footer a{
	color: #B2124B;
	text-transform: uppercase;
}
#footer a:hover{
	color: #018FB2;
	text-transform: uppercase;
}


table.tbl {   
	font-size: 90%;
	color: #000000;
	text-align: left;
}

table.tbl a {
	text-decoration: none;
	color: #FF3A3B;
}
table.tbl a:hover {
	color: #FF8400;
}


thead.tbl th {
	font-size: 105%;
	color: black;
	background-color: #B2CFE8;
	height: 28px;
	font-weight: bold;
	padding: 10px;
}

table.grid {
	text-align: left;
	border-collapse: collapse;
}

