<% unless current_host %>
<p>Sign up <%= link_to "click here to login.", login_path %></p>
<%end%>

<%if current_host%>
<h2>Welcome, <%="#{current_host.first_name}"%> <%="#{current_host.last_name}"%></h2>
<%end%>
